.photo-gallery-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    max-width: 400px;
    height: 20%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }

  .card-header {
    text-align: center;
    margin-bottom: 20px;
  }

  .card-header h1 {
    font-size: 2em;
    color: #333;
    text-shadow: 1px 1px rgb(94, 92, 92);
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  .gallery-NA {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }

  .gallery img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }

  .see-all-photos {
    display: block;
    text-align: center;
    color: blue;
    margin-top: 20px;
    text-decoration: none;
    border-bottom: 2px solid black;
    justify-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
  }

  img.image-not-available{
    width: 250px;
    margin: auto;
    grid-column: 1/4;
    opacity: 0.4;
  }

  #NA{
    grid-column: 1/4;
  }

  #user-images-NA {
    font-size: 17px;
    color: #919191;
    font-weight: 800;
    /* padding: 10px; */
    position: relative;
    /* top: -220px; */
  }

  .uploadPhoto {
    border-top: 2px solid black;
    width: 80%;
    margin-top: 10px;
  }

  .gallery-card{
    padding: 10px;
    margin: auto;
  }

  #images {
    width: 80%;
    margin: auto;
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
