.fullscreen-image {
    position: absolute;
    width: 80vh;
    aspect-ratio: auto;
}

.gallery-image {
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: auto;

}

#overlay-gallery {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-header {
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
}
