body {
margin: auto;
margin-bottom: 10vh;
}


#center-stage-posts-container {
    display: flex;
    flex-flow: column;
    gap: 15px;
    align-items: center;
    justify-content: center;

}

#center-stage-title {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}

#center-stage-info {
    text-align: center;
    padding-bottom: 20px;
    font-size: 22px;
    color: rgb(102, 102, 102);
    margin-top: 0px;
}

/* #who-to-support {
    position: fixed;
    left: 6vw;
} */
 #supporters-container-center-stage {
    display: flex;
    position: fixed;
    left: 6vw;
 }
