.comment-react-post {
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  overflow: visible;
}

.comment-react-post:hover svg{
  scale: 1.5;
}

.comment-react-post button {
  width: 35px;
  height: 35px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  outline: none;
}

.comment-react-post button:after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  left: -3px;
  top: -3px;
  background-color: #f5356e;
  border-radius: 50%;
  z-index: 0;
  transform: scale(0);
}

.comment-react-post button svg {
  position: relative;
  z-index: 9;
}

.comment-react-post button:hover:after {
  animation: ripple 0.6s ease-in-out forwards;
  scale: 1.2;
}

.comment-react-post button:hover svg {
  fill: #f5356e;
}

.comment-react-post button:hover svg path {
  stroke: #f5356e;
  fill: #f5356e;
}

.comment-react-post span {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 20px;
  font-weight: 600;
  color: #707277;
  padding-right: 10px;
  text-align: center;
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0.6;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}
