body {
  background-color: #c3c3c342;
}

.navbar {
  margin-top: 20px;
  border: 1px solid darkgrey;
  position: relative;
  background: transparent;
  height: 80px;
  width: 99vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0px 5px 3px 2px black;
  border-radius: 5px;
}

.wave {
  position: absolute;
  width: 2000px;
  height: 1500px;
  opacity: 0.6;
  z-index: 0;
  /* left: -5vw; */
  top: -75vh;
  /* margin-left: -50%; */
  /* margin-top: -70%; */
  background: linear-gradient(744deg, #0001df , #3d77ff 60%, #51bfff);
}

.icon {
  width: 3em;
  margin-top: -1em;
  padding-bottom: 1em;
}

.nav-content {
  text-align: center;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  display: flex;
  width: 100%;
  height: 80px;
  border-radius: 25%;
  z-index: 100;
}



.wave:nth-child(2),
.wave:nth-child(3) {
  top: 40px;
}

.wave {
  border-radius: 40%;
  animation: wave 45s infinite linear;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.wave:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

/* #nav-container {
  display:flex;
  width:100%;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-color:rgb(197, 232, 255)
} */

.nav-flex-items {
  height: 100%;
  width: 100%;
}

#nav-logo-container {
  font-family: Bangers;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 32px;
}

#nav-div-1 {
  font-family: Bangers;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
  height: 100%;
  font-size: 32px;
}

#nav-logo {
  height:55px;
  width: 55px;
  margin-left: 3px;
}

#nav-spotlight {
  color: black;
  text-align: center;
  font-size: 1.1em;
}

#nav-title {
  font-size: 4em;
  color: black;
}

#nav-title-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Bangers;
  font-weight: 700;

}

#Nav-buttons-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  font-size: 2em;
}

#nav-div-2 {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: Bangers;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: 700;
}

#nav-profile-button {
  height: 58px;
  width: 52px;
}
