.edit-delete-comment {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    margin-left: 2vw;
    margin-right: 2vw;
}

.form-update {
    --width-of-input: 200px;
    --border-height: 1px;
    --border-before-color: rgba(221, 221, 221, 0.39);
    --border-after-color: #5891ff;
    --input-hovered-color: #4985e01f;
    position: relative;
    width: var(--width-of-input);
   }
   /* styling of Input */
   .input-update {
    color: black;
    height: 100%;
    font-size: 0.9rem;
    background-color: transparent;
    width: 200%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
   }
   /* styling of animated border */
   .input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 1s;
   }
   .input-border:focus {
    background: #fff
   }
   textarea.input-update:focus{
    background: #ffffff;
    color: black;
   }
   /* Hover on Input */
   .input-update:hover {
    background: var(--input-hovered-color);
    color: white;
   }

   /* === if you want to do animated border on typing === */
   /* remove input:focus code and uncomment below code */
   .input-update:valid ~ .input-border{
     width: 200%;
   }

   .error-comment {
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .error-tooltip-comment {
    position: relative;
    top: 1vh;
    font-size: 17px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .error-tooltip-comment::before {
    position: absolute;
    z-index: 0;
    content: "";
    height: 11px;
    width: 11px;
    background: #ffffff;
    top: -5px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .error-comment .error-tooltip-comment {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }



  .error-comment .error-tooltip-comment,
  .error-comment .error-tooltip-comment::before {
    background: linear-gradient(320deg, rgb(255, 67, 67), rgb(255, 44, 44));
    color: #ffffff;
  }
