.overlay-delete {
    background-color: transparent;
    z-index: 1001;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0vh;
    bottom: 0px;
    left: 0vw;
    right: 0px;
    display:flex;
}

.overlay-delete:hover {
    cursor:default;

}

#delete-post-container {
    height: 40vh;
    width: 18vw;
    position: relative;
    left: 65vw;
    top: 45vh;
  }


.delete-card {
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    text-align: left;
    right: 13vw;
    border-radius: 0.5rem;
    max-width: 290px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }

  .delete-header {
    padding: 1.25rem 1rem 1rem 1rem;
    background-color: #ffffff;
  }

  .delete-image {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #FEE2E2;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
  }

  .delete-image .delete-img {
    width: 5rem;
    height: 4rem;
  }

  .delete-content {
    margin-top: 0.75rem;
    text-align: center;
  }

  .delete-title {
    color: #111827;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
  }

  .delete-message {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .delete-actions {
    margin: 0.75rem 1rem;
    background-color: #F9FAFB;
  }

  .delete-delete {
    display: inline-flex;
    padding: 0.5rem 1rem;
    background-color: #DC2626;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    border-radius: 0.375rem;
    border-width: 1px;
    border-color: transparent;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }

  .delete-delete:hover{
    cursor: pointer;
    outline: #fff;
  }
  .delete-cancel {
    display: inline-flex;
    margin-top: 0.75rem;
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    color: #374151;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid #D1D5DB;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }

  .delete-cancel {
    cursor: pointer;
    outline: #fff;
  }
